body{
    background:#FFFCF2;
}
.header{
    margin:auto;
    padding-bottom: 2.0em ;
    padding-top: 2.0em ;
    color:white;
    background-color: #252422;
}
label{
    font-size: 2em;
    font-weight: 500;
    margin:0;
}
input[type='text']{
    font-size: 15px;
    color: grey;
    border-radius: 0;
}
.btn-override{
    background-color: #EB5E28;
    font-family: Helvetica Neue;
    color: white;
    font-size: 1.6em;
    opacity: 0.9;
}
.btn-override:hover, .btn-override:visited, .btn-override:focus{
    background-color: #EB5E28;
    font-size: 1.6em;
    color: white;
    opacity: 1;
}
#test{
    color: white;
}
.panel-body{
    border:none;
    background-color: #CCC5B9;
}
.table-hover > tr:hover {
    background-color:#59709B ;
  }
#getPost, #getVar{
    margin-top: 0.5em ;
    margin-bottom: 1em ;
}  
  .table{
      border-radius: 5px;
      background: #3F5171;
      border-color: white;
  }

table, tr, td {
    border: none;
    border-collapse: collapse;
    border-spacing: 0;
}
td {
    border: none;
    font-size: 1.2em;
    font-weight: 200;
}
th {
    border: none;
    font-size: 1.5em;
    font-weight: 600;
}
  .results{
      display:none;
  }
  .info{
    display:none;
    text-align: center;
}
div#postResult{
    height: 1000px;
}
.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
}
.table-borderless > th{
    border: 1px solid whitesmoke;
}

tbody {
    overflow-y: auto;
  }

  input{
	background: #f7f7f7;
	width: 100%;
	padding: 13px 13px 13px 20px;
	color:#2980b9;
    box-shadow: none;
}
input:focus {
	background: white;
	border: 3px solid #2980b9;
	outline:0;
	color:#2980b9;
}

label{
    color: white;
}
